.icon {
    font-size: 1em;
    background-size: 1em;
    background-position: center;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
    display: inline-block;
}
@import "icons";
@import "sth";

$green: green;
body {
    color: $green;
}

@font-face {
    font-family: "Oswald";
    src: url($fontsUrl+"Oswald-Regular.ttf");
}

h1 {
    font-family: "Oswald";
    color: red;
}

h2 {
    font-family: "Oswald";
    color: orangered;
}

h3 {
    font-family: "Oswald";
    color: orange;
}

.test-src {
    background-image: url($imgUrl+"testimg.jpg");
    background-size: cover;
    width: 300px;
    height: 300px;
    display: flex;
}
