footer.footer
    .container
        h2 Site footer
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur consequuntur nihil sequi quia explicabo fugit iste, ipsum saepe, veniam quam totam possimus impedit nostrum ad illo minus ab ea omnis.