nav.nav
    .container
        ul.nav-list
            li
                a(href="index.html")
                    | Index page
            li
                a(href="other.html")
                    | Other page