aside.sidebar
    ul
        +aside-block('Sidebar #1')
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci officiis autem atque, ipsam reiciendis iste neque saepe quaerat nobis nulla ex dolores, alias eaque fugiat at. Ipsum unde alias est.
        +aside-block("Sidebar #2")
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore minus vel est, placeat commodi dolorum quibusdam voluptatem? Quasi perferendis veniam iusto! Consectetur odit quod aliquam, exercitationem repellendus delectus possimus consequuntur?